a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  margin: 0;
  font-family: $typography-font-family;
  color: $color-default;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
