// colors
$color-default: #333;
$color-primary: #5d93ff;
$color-secondary: #f7a046;

// typography
$typography-font-family: "Roboto Mono", monospace;
$typography-base-size: 16;
$typography-base-font-size: 16px;

// breakpoint
$breakpoint-sm: 685px;
$breakpoint-md: 960px;
$breakpoint-lg: 1100px;
