@import "@styles/variables";
@import "@styles/mixins";

.navbar {
  display: flex;
  align-items: center;
  font-weight: 300;
  border-bottom: 1px solid #e6e5e6;
  background-color: #fff;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;

  &__title {
    margin-right: auto;
    padding: rem(12) rem(16);
  }

  &__item {
    padding: rem(16) rem(16);
    cursor: pointer;
    vertical-align: middle;
  }
}
